<!DOCTYPE html>
<html lang="en">
<head>

    


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="~/css//AdminDashboard.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <!-- BOOTSTRAB -->
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />



</head>
<body>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-content">
            <div class="profile">
                <div class="profile-img bg-img" style="background-image: url('@Url.Content("~/Images/User/user (2).png")')"></div>
                <h4>Welcome Librarian</h4>
            </div>

            <div class="side-menu">
                <ul>
                    <li>
                    <a href="@Url.Action("AdminDashboard", "Account")" 
                       class="@(ViewContext.RouteData.Values["controller"].ToString() == "Account" && ViewContext.RouteData.Values["action"].ToString() == "AdminDashboard" ? "active" : "")">
                        <span class="las la-home"></span>
                        <small>Dashboard</small>
                    </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Book")"
                           class="@(ViewContext.RouteData.Values["controller"].ToString() == "Book" || ViewContext.RouteData.Values["controller"].ToString() == "BookCopy" ? "active" : "")">
                            <span class="las la-book"></span>
                            <small>Manage Books</small>
                        </a>
                    </li>


                    <li>
                        <a href="@Url.Action("Search", "MemberMangement")"
                           class="@(ViewContext.RouteData.Values["controller"].ToString() == "MemberMangement" && ViewContext.RouteData.Values["action"].ToString() == "Search" ? "active" : "")">
                            <span class="las la-users"></span>
                            <small>
                                Manage Members
                            </small>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="las la-book-open"></span>
                            <small>Issue Book</small>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("GetReturns", "Return")"
                           class="@(ViewContext.RouteData.Values["controller"].ToString() == "Return" && ViewContext.RouteData.Values["action"].ToString() == "GetReturns" ? "active" : "")">
                            <span class="las la-undo"></span>
                            <small>Return Books</small>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="las la-exclamation-circle"></span>
                            <small>Penalties</small>
                        </a>
                    </li>



                    <li>
                        <a href="@Url.Action("GetContacts", "ContactForm")"
                           class="@(ViewContext.RouteData.Values["controller"].ToString() == "ContactForm" && ViewContext.RouteData.Values["action"].ToString() == "GetContacts" ? "active" : "")">
                            <span class="las la-envelope"></span>
                            <small>Contacts</small>
                        </a>
                    </li>



                </ul>
            </div>
        </div>
    </div>

    <div class="main-content" >

        <header>
            <div class="header-content">
                <label for="menu-toggle">
                    <span class="las la-bars"></span>
                </label>

                <div class="user">
                    <span class="las la-power-off"></span>
                    <span><a href="home.html">Log out</a></span>
                </div>
            </div>
        </header>

    </div>

    
</body>
</html>
