<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Member Dashboard</title>
    <link rel="stylesheet" href="~/css//AdminDashboard.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <!-- BOOTSTRAB -->
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />



</head>
<body>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-content">
            <div class="profile">
                <div class="profile-img bg-img" style="background-image: url('@Url.Content("~/Images/User/user (2).png")')"></div>
                <h4>Welcome Member</h4>
            </div>

            <div class="side-menu">
                <ul>
                    <li>
                        <a href="@Url.Action("Profile", "MemberDashboard")"
                           class="@(ViewContext.RouteData.Values["controller"].ToString() == "MemberDashboard" && ViewContext.RouteData.Values["action"].ToString() == "Profile" ? "active" : "")">
                            <span class="las la-user-alt"></span>
                            <small>Profile</small>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("GetUserHistory", "MemberDashboard")"
                            class="@(ViewContext.RouteData.Values["controller"].ToString() == "MemberDashboard" && ViewContext.RouteData.Values["action"].ToString() == "GetUserHistory" ? "active" : "")">
                            <span class="las la-history"></span>
                            <small>History</small>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("GetUserPenalties", "MemberDashboard")"
                           class="@(ViewContext.RouteData.Values["controller"].ToString() == "MemberDashboard" && ViewContext.RouteData.Values["action"].ToString() == "GetUserPenalties" ? "active" : "")">
                            <span class="las la-exclamation-circle"></span>
                            <small>Penalties</small>
                        </a>
                    </li>


                    <li>
                        <a href="@Url.Action("Index", "MemberDashboard")"
                           class="@(ViewContext.RouteData.Values["controller"].ToString() == "MemberDashboard" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")">
                            <span class="las la-book-open"></span>
                            <small>Books</small>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="main-content">

        <header>
            <div class="header-content">
                <label for="menu-toggle">
                    <span class="las la-bars"></span>
                </label>

                <div class="user">
                    <span class="las la-power-off"></span>
                    <form id="logout-form" action="/Account/Logout" method="post" style="display: inline;">
                        <a href="#" onclick="event.preventDefault(); this.closest('form').submit();">Log out</a>
                    </form>
                </div>

            </div>
        </header>

    </div>
    @RenderSection("Scripts", required: false)

</body>
</html>
